.footer {
  width: 647px;
  height: 115px;

  border: 1px solid black;
  border-radius: 35px 35px 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e8e8e8;

  position: fixed;
  bottom: 0;
}

.footer-text {
  font-size: 20px;
}
